:root {
    --bg-1: #292F36;
    --bg-2: #1A1E23;
    --brand-1: #12F7D6;
    --brand-2: #98FAEC;
    --gray--: #43454D;
    --white-: #FFFFFF;
    --html--: #E54F26;
    --css--: #0C73B8;
    --js--: #E7A020;
    --react--: #28A9E0;
}



#main-content {
    font-family: "Ubuntu", sans-serif;

    height: fit-content;
}

.content {
    min-height: 100%;
    background-color: var(--bg-2);
}

.content h1 {
    margin: 0 auto 0 auto;
    color: var(--brand-1);
    padding-top: 40px;
    text-align: center;
    width: 552px;
    height: 117px;
    font-size: 60px;
    line-height: 90px;
    font-weight: 400;
    font-family: "IBM Plex mono", sans-serif;
}

.dev-section {
    display: flex;
    gap: 100px;
    text-align: left;
    padding: 64px 128px 128px 128px;
}

.card {
    display: flex;
    border: 4px solid var(--brand-2);
    width: 350px;
    height: 520px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    font-size: 15px;
    box-shadow: -4px -4px 2px 0px #12F7D6;
    color: var(--white-);
    gap: 20px;
    font-family: "IBM Plex Mono", sans-serif;
}


.card-infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 15px;
}

.profile {
    background-image: url(/assets/tux-linux-tux.gif);
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: 70%;
    border-radius: 50%;
    padding: 10px;
}

.profile span {
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.card p {
    line-height: 47px;
    font-weight: 500;
}


.infor {
    gap: 20px;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-self: flex-start;
    padding: 5px;
}

.infor img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.tech {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    font-size: 16px;
}

.tech span {
    color: var(--bg-1);
    background-color: var(--brand-1);
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 8px;
}

.greetings {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: var(--white-);
    font-size: 30px;
    gap: 32px;
}

.greetings strong {
    color: var(--brand-2);
}

.greetings-title span {
    font-size: 14px;
    font-family: "IBM Plex mono", sans-serif;
    color: var(--brand-1);
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "IBM Plex mono", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--brand-2);
}

.talk-me {
    display: flex;
    font-size: 32px;
    gap: 20px;
    font-family: "IBM Plex mono", sans-serif;
    font-weight: 500;
}

.talk-me img {
    background-color: var(--bg-1);
    padding: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #43454D;
    background-color: var(--bg-2);
    color: #0C73B8;
    max-width: 100%;
    padding: 40px 40px;
    height: 48px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    color: var(--white-);
    padding-left: 128px;
    padding-right: 128px;
}


.terms {
    display: flex;
    gap: 32px;
    color: var(--white-);
    transition: all 300ms ease-in-out;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    margin: 0 auto 0 auto;
}

.terms a:hover {
    color: var(--brand-1);
}

.social-footer {
    display: flex;
    gap: 32px;
}

.social-footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-);
    border-radius: 50%;
    padding: 10px;
    transition: background 300ms ease-in-out;
    width: 30px;
    height: 30px;

}

.social-footer a:hover {
    background-color: var(--brand-1);
}


.social-footer img {

    width: 20px;
    height: 20px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/about-me.png);
    gap: 64px;
    width: 100%;
    min-height: 100%;
    background-size: contain;
    background-color: var(--bg-2);
    padding: 128px;
    color: var(--white-);
    position: relative;
}

.about-me::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: rgb(0, 0, 0);
}

.mouse {

    z-index: 1;
}

.mouse img {
    width: 100px;
    height: 100px;
    margin: 0 auto 0 auto;
}


.about-me-content {
    display: flex;
    align-items: center;
    padding-left: 64px;
    padding-right: 128px;
    gap: 64px;
    z-index: 1;
}

.about-me-infor {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-family: "IBM Plex mono", sans-serif;
    gap: 64px;
    justify-content: center;

}

.about-me-infor h3 {
    background-color: var(--bg-1);
    align-self: flex-start;
    padding: 16px 40px;
    border: 4px solid var(--brand-1);
    font-size: 30px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 1;
}

.about-me-description {
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: var(--bg-1);
    padding: 20px;
    border-radius: 40px;
    font-size: 15px;
    color: var(--brand-1);
}


.about-me-description span {
    color: var(--brand-2);
}

.about-me-description strong {
    font-size: 20px;
    font-weight: 400;
}


.about-me-img img {
    width: 320px;
    height: 520px;
    border-radius: 16px;
}

.skill-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 128px;
    background-image: url(../assets/skill-bg.png);
    background-size: cover;
    position: relative;
}

.skill-content::before{
     content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.603);
}


.box-dev {
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    z-index: 1;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    background-color: var(--brand-1);
    border-radius: 8px;
    gap: 10px;
    border-left: 8px solid var(--css--);
    text-align: center;
    font-family: "IBM Plex mono", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.box img {
    margin: 0 auto 0 auto;
    width: 32px;
    height: 32px;
}


.skill-title {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 59px;
    z-index: 1;
    text-align: center;
    color: var(--brand-2);
    font-family: "Ubunto", sans-serif;
    font-weight: 400;
    line-height: 72px;
    justify-content: center;
    font-size: 50px;
}


.skill-title p {
    font-family: "IBM Plex mono", sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.icons{
    z-index: 1;
    margin: 0 auto 0 auto;
}

.icons img {
    width: 80px;
    height: 80px;
}

.carrossel {
    background-image: url(../assets/programming.gif);
    background-color: var(--bg-2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    height: 500px;
    padding: 60px;
    position: relative;
    font-family: "IBM Plex mono", sans-serif;
    font-weight: 400;
}

.carrossel::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.603);

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
  
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    color: var(--brand-1);
}
.swiper-slide p {

    width: 100%;
    height: 100%;
    padding: 40px;
    color: var(--brand-2);
}



.swiper-slide img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: #fff;
    border-radius: 50%;
}


.form-content {
    background-color: var(--bg-2);
    color: var(--brand-1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 128px;
    gap: 64px;
}

.form-title {
    text-align: center;
    font-family: "IBM Plex mono", sans-serif;
    font-weight: 500;
    font-size: 50px;

}

.form-title p {
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 20px;
}

input {
    width: 400px;
    padding: 8px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--brand-1);
    color: var(--brand-1);
    margin-bottom: 40px;
}



.form-content button {
    display: flex;
    align-items: center;
    background-color: var(--brand-1);
    border-radius: 32px;
    border: none;
    font-size: 15px;
    padding: 16px 32px;
    text-transform: uppercase;
    cursor: pointer;
    width: fit-content;
    font-family: "Ubunto", sans-serif;
    font-weight: 400;
}

.form-content button img {
    width: 22px;
    height: 22px;
    margin-left: 15px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form-error {
    font-size: 15px;
    margin-bottom: 15px;
    color: var(--html--);
}

.chat-bot {
    max-height: 100%;
    height: 640px;
}

.content-privacidade {
    display: flex;
    background-color: var(--bg-1);
    color: var(--brand-1);
    padding: 90px;
    gap: 64px;
}

.topics {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.topics a {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    color: var(--brand-1);
}

.topics a:hover {
    border-bottom: 1px solid var(--css--);
}

.politicas{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 25px;
}